node_modules
.env
.env.local
dist
build
coverage
.DS_Store
.vscode
.idea
*.log
*.sqlite
/prisma/dev.db

# Docker
docker-compose.override.yml

# Mac
*.DS_Store

# Windows
Thumbs.db

# Terraform state
*.tfstate

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*